* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    @include radialBackground;
    color: $BASE_TEXT_COLOR;
    overflow-x: hidden;
}

p {
    @include text-s;
}


h4 {
    @include headline-l;
}

h1 {
    @include headline-l;
}

a {
    color: $BASE_TEXT_COLOR;
}

.content {
    @include content-container;
}

#logo {
    position: fixed;
    left: 25px;
    top: 22px;
    z-index: 200;
}

#menu-icon {
    position: fixed;
    right: 29px;
    top: 27px;
    background-image: url(../assets/menu.svg);
    height: 40px;
    width: 50px;
    background-repeat: no-repeat;
    z-index: 99;
}

.close-icon {
    position: absolute;
    right: 29px;
    top: 27px;
    font-size: 60px;
    background-image: url(../assets/close.svg);
    height: 43px;
    width: 43px;
    background-repeat: no-repeat;
  }

#help-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100;
}

section {
    @include radialBackground;
}

.button {
    @include button;
}

.button-center {
    width: 100%;
    display: block;
    text-align: center;
}

#nav {
    display: none;
}

.grid-container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

img {
    max-width: 100%;
}