* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    @include radialBackground;
    color: $BASE_TEXT_COLOR;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    @include text-s;
}


h4 {
    @include headline-l;
}

h1, .headline {
    @include headline-l;
}

a {
    color: $BASE_TEXT_COLOR;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.content {
    @include content-container;
}

#logo {
    position: fixed;
    left: 25px;
    top: 22px;
    z-index: 2000;
}

@media (max-width: 779px) {
    #logo {
        position: absolute;
    }
}

.close-icon {
    position: absolute;
    right: 29px;
    top: 27px;
    font-size: 60px;
    background-image: url(../assets/close.svg);
    height: 43px;
    width: 43px;
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
}

#help-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100;
}

#imprint, #privacy, #do-something {
    background: linear-gradient(180deg, #86B8E7 0%, #2168B6 100%);

    .content {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

section {
    @include radialBackground;
}

.button {
    @include button;
}

.button-center {
    width: 100%;
    display: block;
    text-align: center;
}

.grid-container {
    @include grid-container;
}

img {
    max-width: 100%;
}