* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F2F2F;
    background: radial-gradient(90.67% 90.67% at 50% 50%, #1A2252 0%, #261729 100%);
}

.logo {
    position: fixed;
    left: 25px;
    top: 22px;
    z-index: 100;
}

.menu-icon {
    position: fixed;
    right: 25px;
    top: 22px;
    background-image: url(../assets/menu-icon.png);
    height: 40px;
    width: 50px;
    background-repeat: no-repeat;
    z-index: 100;
}

.close-icon {
    position: fixed;
    right: 25px;
    top: 22px;
    background-image: url(../assets/close-icon.png);
    height: 43px;
    width: 43px;
    background-repeat: no-repeat;
    z-index: 200;
}

.vignette {
    @include vignette;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
