// COLORS
$PRIMARY_COLOR: #2168B6;
$SECONDARY_COLOR: #75B0B7;
$HIGHLIGHT_COLOR: #00FED0;
$BACKGROUND_DARK_COLOR: #413543;
$BACKGROUND_CENTER_COLOR: #1C224F;
$GREY_COLOR: #949494;
$BASE_TEXT_COLOR: #fff;
$WHITE: #fff;

@mixin radialBackground {
    background: $BACKGROUND_DARK_COLOR; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  $BACKGROUND_CENTER_COLOR 0%, $BACKGROUND_DARK_COLOR 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  $BACKGROUND_CENTER_COLOR 0%,$BACKGROUND_DARK_COLOR 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  $BACKGROUND_CENTER_COLOR 0%,$BACKGROUND_DARK_COLOR 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c224f', endColorstr='#413543',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin vignette {
    background: transparent; /* Old browsers */
    background: -moz-radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 52%, $BACKGROUND_DARK_COLOR 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 52%, $BACKGROUND_DARK_COLOR 100%);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 52%, $BACKGROUND_DARK_COLOR 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="transparent",endColorstr="#413543",GradientType=1);
}


@mixin content-container {
    width: 95%;
    margin: 150px auto;
}

@mixin arrow($color, $direction) {
    border: solid $color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    @if $direction == up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    } @else if $direction == right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    } @else if $direction == down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    } @else if $direction == left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    } @else {
        @error "Unknown direction #{$direction}.";
    }
}

@mixin button {
    @include headline-m;
    background: $PRIMARY_COLOR;
    border-radius: 30px;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease-in;

    &::after {
        content: '';
        @include arrow($WHITE, 'right');
        margin-left: 10px;
        margin-right: 0px;
        top: -2px;
        position: relative;
        transition: margin 0.5s ease-in;
    }

    &:hover {
        background-color: $BACKGROUND_CENTER_COLOR;

        &::after {
            margin-left: 15px;
            margin-right: 10px;
        }
    }
}
.button {
    @include button;
}

