@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/mixins';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(90.67% 90.67% at 50% 50%, #7EB1E3 0%, #3376BF 100%);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#controller-body {
    overflow: hidden;
} 

.controller-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    #clickBtn{
        @include button;
        position: absolute;
        bottom: 10vh;
        cursor: pointer;
        text-align: center;
        min-height: 23px;
        width: 200px;
    }
}

.logo {
    top: 20px;
    left: 20px;
    position: absolute;
}

#controller {
    position: absolute;
    width: 183px;
    height: 183px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 3px $PRIMARY_COLOR;

    .controller-inner {
        width: 129px;
        height: 129px;
        background: $PRIMARY_COLOR;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border-radius: 50%;
    }
}
