.infopage {
    display: block;
    position: absolute;
    scroll-behavior: smooth;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $PRIMARY_COLOR;
    z-index: 100;
    // padding-top: 160px 0; 

    .section {
        min-height: 100vh;
    }

    p {
        font-weight: bold;
    }

    .video-container {
        position: relative;
        padding-top: 95px;

        .video {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
            width: 100%;
    
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }

    .facts { 
        display: flex;
        align-items: center;
        min-height: 70vh;

        &.text-right {
            justify-content: flex-end;
        }

        .text {
            width: 70%;

            @media (max-width: 550px){
                width: 100%;
            }
        }
    }

    .action {
        .text {
            padding-top: 10vh;
            z-index: 2;
        }
    }

    .bottom-info {
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;

        svg {
            width: 100%;
        }

        .svg-bottom-text {
            color: white;
            font-weight: bold;
            font-size: 16px;
            line-height: 140%;
            width: 100px;

            a {
                text-decoration: underline;
            }
        }

        @media (max-width: 860px) {
            bottom: 0;

            .mobile-bottom-line-path {
                display: block;
            }

            .bottom-line-path {
                display: none;
            }
        }

        @media (min-width: 861px) {
            bottom: 50px;

            .mobile-bottom-line-path {
                display: none;
            }

            .bottom-line-path {
                display: block;
            }
        }
    }
}

.wave-loading-animation {
    position: absolute;
    top: 30px;
    left: calc((100% - 155px) / 2);

    p {
        text-align: center;
    }

    .circle{
        position: relative;
        margin: 0 auto;
        width: 75px;
        height: 75px;
        background: transparent;
        border: 2px solid $PRIMARY_COLOR;
        border-radius: 50%;
        overflow: hidden;
    }

    .wave{
        position: relative;
        width: 100%;
        height: 100%;
        background: $PRIMARY_COLOR;
        border-radius: 50%;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 200%;
            height: 200%;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
        }

        &::before{
            border-radius: 45%;
            background: rgba(255,255,255, 1);
            animation: animate 5s linear infinite;
        }

        &::after{
            border-radius: 40%;
            background: rgba(255,255,255, .5);
            animation: animate 10s linear infinite;
        }
    }

    @keyframes animate{
        0%{
            transform: translate(-50%, -75%) rotate(0deg);
        }
        100%{
            transform: translate(-50%, -75%) rotate(360deg);
        }
    }
}


.background-elements {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;

    .background-element {
        position: absolute;
        -webkit-transform: translate3d(0, 0, 0);
        transform : translate3d(0, 0, 0);

        &.top {
            left: 0;
        }

        &.middle {
            top: 50vh;
            right: 0;

            &.left {
                right: auto;
                left: 0;
            }
        }

        &.bottom {
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1;

            &.right {
                left: auto;
                right: 0;
            }
        }

        img {
            width: 100%;
        }
    }
}


#deep-sea-mining, 
#deep-sea-mining .background-elements {
    background: linear-gradient(180deg, #2168B6 -39.89%, #27182A 100%);
    .background-element {
        &.top {
            width: 55vw;
        }
        &.middle {
            width: 50vw;
        }
    }
}

#shipwrecks, 
#shipwrecks .background-elements  {
    background: linear-gradient(180deg, #2168B6 -39.89%, #27182A 100%);

    .background-element {
        &.middle {
            left: 10vw;
            top: 140vh;
            right: auto;
            width: 10vw;
        }

        &.bottom {
            width: 100vw;
        }
    }
}

#microplastic, 
#microplastic .background-elements  {
    background: linear-gradient(180deg, #2168B6 -43.39%, #2168B6 107.58%);

    .background-element {
        &.middle {
            left: 0;
            top: 60vh;
            right: auto;
            width: 40vw;
        }

        &.bottom {
            width: 40vw;
        }
    }
}

#overfishing, 
#overfishing .background-elements  {
    background: linear-gradient(180deg, #F0F4F1 -43.39%, #2168B6 107.58%);

    .background-element {
        &.top {
            top: 10vh;
            width: 100%;
        }

        &.middle {
            top: 80vh;
            width: 100%;

            @include after-infopage-background;
        }
    }
}

#fishernets, 
#fishernets .background-elements  {
    background: linear-gradient(180deg, #F0F4F1 -43.39%, #2168B6 107.58%);

    .background-element {
        &.top {
            top: 10vh;
            width: 100%;
        }

        &.middle {
            top: 85vh;
            width: 100%;

            @include after-infopage-background;
        }

        &.bottom {
            width: 70vw;
        }
    }
}

#sewage, 
#sewage .background-elements  {
    background: linear-gradient(180deg, #F0F4F1 -43.39%, #2168B6 107.58%);

    .background-element {
        &.top {
            top: 10vh;
            width: 100%;
        }

        &.middle {
            top: 80vh;
            width: 100%;

            @include after-infopage-background;
        }

        &.bottom {
            width: 50vw;
        }
    }
}


.background-elements {
    .wave {
        position: absolute;
        bottom: 0px;
        width: 7680px;
        height: 100vh;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        z-index: 1;

        #bottom-wave-path {
            color: $PRIMARY_COLOR;
        }
    }
}


#sewage, #fishernets, #microplastic, #overfishing {
    .background-elements {
        .wave {
            #bottom-wave-path {
                color: #1056A4;
            }
        }
    }
}


#deep-sea-mining, #shipwrecks {
    .background-elements {
        .wave {
            #bottom-wave-path {
                color: #1F2642;
            }
        }
    }
}