#loading-screen {
    width: 100%;
    background-image: url("../assets/loadingscreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wave-loading-animation{
        position: unset;

        .wave {
            mask-image: -webkit-radial-gradient(circle, white, black);
            -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
        }
    }
}