<script src="/dist/allCoinsCollected.js"></script>

<div id="all-coins-collected">
    <div class="download-container">
        <div class="screen-background">
            <img src="/assets/intro-background.svg" />
        </div>
        <div class="screen">
            <h2 class="headline">Super, du hast alle Münzen gefunden!</h2>
            <p class="text-s">Wenn du willst, kannst du dir einen kostenlosen Bildschirmhintergrund herunterladen und mit deinen Freunden teilen!</p>
            <div class="button-center">
                <a href="/downloads/seamore-screensaver.jpg" download class="button download--button"><span class="text">Download für den Desktop</span></a>
                <a href="/downloads/seamore-screensaver-mobile.jpg" download class="button download--button"><span class="text">Download fürs Handy</span></a>
                <a href="#" class="button screen-one--button"><span class="text">Brauche ich nicht</span></a>
            </div>
        </div>
       
    </div>
    <div class="overlay"></div>
</div>
