<script src="../js/all-coins-collected.js"></script>

<div id="all-coins-collected">
    <div class="download-container">
        <h1>Super, du hast alle Münzen gefunden!</h1>
        <p class="text-s">Wenn du willst, kannst du dir einen kostenlosen Bildschirmhintergrund herunterladen und mit deinen Freunden teilen!</p>
        <div class="button-center">
            <a href="#" class="button download--button"><span class="text">Download</span></a>
            <a href="#" class="button screen-one--button"><span class="text">Brauche ich nicht</span></a>
        </div>
    </div>
    <div class="overlay"></div>
</div>
