<div id="loading-screen">
    <div class="wave-loading-animation">
        <div class="circle">
            <div class="wave"></div>
        </div>
        <p id="loader-percentage">0% loaded</p>
    </div>
</div>