<script src="../js/start-intro.js"></script>

<div id="start-intro">
    <div class="intro-container">
        <div class="screen screen-one">
            <h1>Welchen Einfluss haben wir auf die Zerstörung der Meere?</h1>
            <p class="text-s">Der Ozean ist der Ursprung des Lebens. Er spielt auch eine Rolle im Kampf gegen die Klimakrise: sie kühlen unseren Planeten. Aufgrund des Eingreifens des Menschen in unser Ökosystem sind unsere Meere in Gefahr. Überfischung, Versauerung und Müllteppiche an der Wasseroberfläche sind nur wenige Probleme, die durch die globale Überkompensierung verursacht werden.</p>
            <p class="text-m bold">Komm mit auf eine interaktive Reise durch die von Menschen verursachte Zerstörung unserer Meere und finde heraus, was du dagegen tun kannst!</p>
            <div class="button-center">
                <a href="#" class="button screen-one--button"><span class="text">Finde heraus wie</span></a>
            </div>
        </div>
        <div class="screen screen-two">
            <h1>Scanne den Code mit deinem Handy für eine bessere Erfahrung!</h1>
            <div class="instructions">
                <div id="qrcode"></div>
                <div class="instruction-element">
                    <span class="move">Tab</span>
                    <span class="circle"></span>
                    <span class="interaction">interaction</span>
                </div>
                <div class="instruction-element">
                    <span class="move">Double tab</span>
                    <span class="dbl-circle"></span>
                    <span class="interaction">close</span>
                </div>
                <div class="instruction-element">
                    <span class="move">Drag</span>
                    <span class="dbl-circle"></span>
                    <span class="interaction">move</span>
                </div>
            </div>
            <div class="button-center">
                <a href="#" class="button screen-two-highlight-qr--button"><span class="text">Cool! Lass mal probieren</span></a>
                <a href="#" class="button screen-two--button"><span class="text">Ohne Handy weiter</span></a>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>
