<script src="/dist/startIntro.js"></script>

<div id="start-intro">
    <div class="intro-container">
        <div class="screen-background">
            <div class="close-icon"></div>
            <img src="/assets/intro-background.svg" />
        </div>
        <div class="screen screen-one">
            <h2 class="headline">Welchen Einfluss haben wir auf die Zerstörung der Meere?</h2>
            <p class="text-s">Die Ozeane sind der Ursprung des Lebens. Sie spielen auch eine Rolle im Kampf gegen die Klimakrise: Sie kühlen unseren Planeten. Aufgrund des Eingreifens des Menschen in unser Ökosystem sind unsere Meere in Gefahr. Überfischung, Versauerung und Müllteppiche an der Wasseroberfläche sind nur wenige Probleme, die durch die globale Überkompensierung verursacht werden.</p>
            <p class="text-m bold">Komm mit auf eine interaktive Reise durch die von Menschen verursachte Zerstörung unserer Meere und finde heraus, was du dagegen tun kannst!</p>
            <div class="button-center">
                <a href="#" class="button screen-one--button"><span class="text">Finde heraus wie</span></a>
            </div>
        </div>
        <div class="screen screen-two">
            <h2 class="headline">Gehe mit uns auf eine Schatzsuche</h2>
            <div class="flex">
                <p class="text-m bold">
                    Im Ozean sind fünf Münzen versteckt. Wenn du alle eingesammelt hast, wartet eine Überraschung auf dich!
                </p>
                <img src="/assets/treasure.png">
            </div>
            
            <div class="button-center">
                <a href="#" class="button screen-two--button"><span class="text">Geht klar!</span></a>
            </div>
        </div>
        <div class="screen screen-three">
            <h2 class="headline">Scanne den Code mit deinem Handy für eine bessere Erfahrung!</h2>
            <div class="instructions">
                <div id="qrcode"></div>
                <div class="instruction-element">
                    <span class="move">Ziehen</span>
                    <span class="dbl-circle"></span>
                    <span class="interaction">Bewegen</span>
                </div>
                <div class="instruction-element">
                    <span class="move">Klicken</span>
                    <span class="btn-white"><a class="button"><span class="text">Einsammeln</span></a></span>
                    <span class="interaction">Interagieren</span>
                </div>
            </div>
            <div class="button-center">
                <a href="#" class="button screen-three-highlight-qr--button"><span class="text">Cool! Lass mal probieren</span></a>
                <a href="#" class="button screen-three--button"><span class="text">Ohne Handy weiter</span></a>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>
