<div class="video-container">
    <h1><%= headline %></h1>
    <div class="video" style="background-image: url( 'assets/infopages/<%= page %>/<%= page %>.png' );">
      <div class="video_wrapper" >
          <div class="video_trigger" data-source="<%= src %>">
            <p class="text-center">Mit dem Aufruf des Videos erklärst du dich einverstanden, dass deine Daten an YouTube übermittelt werden und dass du die <a href="/datenschutz/" target="_blank">Datenschutzerklärung</a> gelesen hast.</p>
            <a class="button privacy-okay-btn" href="#"><span class="text">Akzeptieren</span></a>
          </div>
          <div class="video_layer"><iframe src="" border="0"></iframe></div>
      </div>
    </div>
</div>
