// COLORS
$PRIMARY_COLOR: #2168B6;
$SECONDARY_COLOR: #75B0B7;
$HIGHLIGHT_COLOR: #00FED0;
$BACKGROUND_DARK_COLOR: #413543;
$BACKGROUND_CENTER_COLOR: #1C224F;
$GREY_COLOR: #949494;
$BASE_TEXT_COLOR: #fff;
$WHITE: #fff;
