@mixin radialBackground {
    background: $BACKGROUND_DARK_COLOR; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  $BACKGROUND_CENTER_COLOR 0%, $BACKGROUND_DARK_COLOR 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  $BACKGROUND_CENTER_COLOR 0%,$BACKGROUND_DARK_COLOR 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  $BACKGROUND_CENTER_COLOR 0%,$BACKGROUND_DARK_COLOR 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c224f', endColorstr='#413543',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin vignette {
    background: transparent; /* Old browsers */
    background: -moz-radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 52%, $BACKGROUND_DARK_COLOR 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 52%, $BACKGROUND_DARK_COLOR 100%);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 52%, $BACKGROUND_DARK_COLOR 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="transparent",endColorstr="#413543",GradientType=1);
}


@mixin content-container {
    width: 95%;
    margin: 150px auto;
}

@mixin arrow($color, $direction) {
    border: solid $color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    @if $direction == up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    } @else if $direction == right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    } @else if $direction == down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    } @else if $direction == left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    } @else {
        @error "Unknown direction #{$direction}.";
    }
}

@mixin button {
    @include text-s;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $PRIMARY_COLOR;
    color: $WHITE;
    transform: skew(-20deg);
    text-decoration: none;
    padding: 6px 40px;
    display: inline-block;

    span {
        transform: skew(20deg);
        display: inline-block;
    }
}

@mixin grid-container {
    width: calc(100% - 240px);
    margin: 0 auto;
    position: relative;
    z-index: 1;
    max-width: 1100px;

    @media (max-width: 777px){
        width: calc(100% - 50px);
    }
}

@mixin after-infopage-background {
    overflow: hidden;
    .after-element {
        background-color: $PRIMARY_COLOR;
        height: 0;
        width: 100%;
        position: relative;
        display: block;
    }
}
