<html lang="de">
<head>
    <title>Controller</title>
    <%- include ('partials/controller-head') %>
</head>
<body id="controller-body">
    <div class="controller-content">
        <div class="logo">
            <img src="/assets/logo.svg" alt="" />    
        </div>
        
        <div id="controller">
        </div>
        <a id="clickBtn"><span class="text"></span></a>
    </div>
    <%- include ('partials/scripts') %>
    <script src="../js/controller.js"></script>
</body>

</html>