<html lang="de">
<head>
    <title>Controller</title>
    <%- include ('partials/head') %>
</head>
<body>
    <div class="controller-content">
        <div class="logo">
            <img src="/assets/logo.svg" alt="" />    
        </div>
        
        <div id="controller">
        </div>
    </div>
    <%- include ('partials/scripts') %>
    <script src="../js/controller.js"></script>
</body>

</html>