<html lang="de">
  <head>
    <title>sea more | Rette unseren Ozean</title>
    <%- include ('partials/head') %>
  </head>

  <%- include ('partials/scripts') %>

  <body id="imprint">
    <div class="base">
      <div id="logo"><a href="/"><img src="/assets/logo.svg" /></a></div>
      <div class="menu-button menu-icon"></div>

      <a href="#help" id="help-button" class="button"
        ><span class="text"
          >Unternimm etwas <i class="arrow-white right"></i></span
      ></a>
    </div>

    <%- include ('partials/navigation') %>

    <script src="/dist/menu.js"></script>

    <div class="grid-container content">
      <h1>Datenschutz</h1>
      <p>
        Dieses Projekt ist in Gemeinschaftsarbeit an der Hochschule Augsburg als
        Semesterprojekt entstanden.<br>
        <stronng>Team:</stronng> Benjamin Adolph, Veronika Remiger und Sarah Schneller.
      </p>
      <h2>Datenverarbeitung</h2>
      <p>Es werden keine personenbezogenen Daten von uns gesammelt oder gespeichert, wir verwenden jedoch Youtube, um passende Videos darzustellen.</p>
      <h2>Hosting bei Heroku</h2>
      <p></p>
      <h2>Youtube</h2>
      <p>Weitere Details gibt es in der <a href="https://www.youtube.com/static?gl=DE&template=terms&hl=de" target="_blank">Datenschutzerklärung von Youtube</a></p>
      <h2>Rechte</h2>
      <h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
      <p>Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a></p>
      <h3>Recht auf Datenübertragbarkeit</h3>
      <p>Ihr habt das Recht, Daten, die ich auf Grundlage eurer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeite, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. Sofern ihr die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangt, erfolgt dies nur, soweit es technisch machbar ist.</p>
      <h3>Auskunft, Sperrung, Löschung</h3>
      <p>Ihr habt im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über eure gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten könnt ihr euch jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
    </div>
  </body>
</html>
