<html lang="de">
  <head>
    <title>sea more | Impressum</title>
    <%- include ('partials/head') %>
  </head>

  <%- include ('partials/scripts') %>

  <body id="imprint">
    <div class="base">
        <div id="logo"><a href="/"><img src="/assets/logo.svg" /></a></div>
      <div class="menu-button menu-icon"></div>

      <a href="#help" id="help-button" class="button"
        ><span class="text"
          >Unternimm etwas <i class="arrow-white right"></i></span
      ></a>
    </div>

    <%- include ('partials/navigation') %>

    <script src="/dist/menu.js"></script>

    <div class="grid-container content">
      <h1>Impressum</h1>
      <h2>Angaben gemäß §5 TMG</h2>

      <p>
        Dieses Projekt ist in Gemeinschaftsarbeit an der Hochschule Augsburg als
        Semesterprojekt entstanden. Team: Benjamin Adolph, Veronika Remiger und Sarah Schneller.
      </p>
      <h3>Kontakt</h3>
      <p>
        Sarah Schneller<br />
        Vogelberg 4 <br />
        86399 Bobingen<br /><br />
        mail[at]sarahschneller.de <br />
        0176 70 955 668<br />
        www.sarahschneller.de
      </p>
      <h3>Haftung für Links</h3>
      <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
        Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
        inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>
      <h3>Urheberrecht</h3>
      <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
        Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
        Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
        sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
        werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
        Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
        entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
        wir derartige Inhalte umgehend entfernen.
      </p>
    </div>
  </body>
</html>
