<html lang="de">
<head>
    <title>sea more | Rette unseren Ozean</title>
    <%- include ('partials/head') %>
</head>

<%- include ('partials/scripts') %>

<style>
    .pointer {
        position: absolute;
        background-image: url('assets/unicorn.png');
        background-repeat: no-repeat; 
        width: 240px;
        height: 215px;
    }
</style>

<body>
    <canvas id="mycanvas"></canvas>
    <div class="base">
        <div id="logo"><img src="/assets/logo.svg" /></div>
        <div class="menu-button menu-icon"></div>
        <div id="counter">
            0/5
        </div>
        
        <a href="#help" id="help-button" class="button">Unternimm etwas <i class="arrow-white right"></i></a>
    </div>

    <nav id="nav">
        <div class="menu-button close-icon"></div>
        <div class="nav-content">
            <ul>
                <li><a href="#" class="fishernets">Müll (Plastik, Fischernetze)</a></li>
                <li><a href="#" class="overfishing">Überfischung</a></li>
                <li><a href="#" class="sewage">Abwasser und Überdüngung</a></li>
                <li><a href="#" class="microplastic">Mikroplastik</a></li>
                <li><a href="#" class="deep-sea-mining">Bergbau in der Tiefsee</a></li>
                <li><a href="#" class="shipwrecks">Erdöl (Schiffswracks, Ölplattformen)</a></li>
            </ul>
        </div>
    </nav>

    <%- include ('partials/start-intro') %>
    <%- include ('partials/all-coins-collected') %>

    <div id="infopages">
        <!-- Content will be rendered on click -->
    </div>

    <script src="dist/bundle.js"></script>
</body>
</html>