<html lang="de">
<head>
    <title>sea more | Rette unseren Ozean</title>
    <%- include ('partials/head') %>
</head>

<%- include ('partials/scripts') %>

<style>
    .pointer {
        position: absolute;
        background-image: url('assets/unicorn.png');
        background-repeat: no-repeat; 
        width: 240px;
        height: 215px;
    }
</style>

<body>
    <canvas id="mycanvas"></canvas>
    <div class="base">
        <div id="logo"><img src="/assets/logo.svg" /></div>
        <div class="menu-button menu-icon"></div>
        <div id="counter">
            0/5
        </div>
        
        <a href="#help" id="help-button" class="button">Unternimm etwas <i class="arrow-white right"></i></a>
    </div>

    <nav id="nav">
        <div class="background">
            <div class="wave">
                <svg width="100%" height="100%" viewBox="0 0 2623 1339" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="svg-wave" fill="currentColor" fill-rule="nonzero">
                            <path 
                                data-from="M2264.98,1339 C2444.81,1339 2468.51,1252.54 2623.00001,1250.89 L2623.00001,1.48307e-05 L7.71186e-06,1.48307e-05 L7.71186e-06,1250.79 C98.9041,1250.79 149.582,1287.66 266.469,1287.66 C383.355,1287.66 483.077,1231.46 601.598,1231.46 C729.605,1231.46 776.519,1339 961.249,1339 C1145.98,1339 1179.49,1231.46 1320.08,1231.46 C1460.67,1231.46 1559.58,1339 1676.46,1339 C1793.35,1339 1854.65,1269.62 1971.54,1269.62 C2088.43,1269.62 2085.16,1339 2264.98,1339 Z" 
                                data-to="M2264.98,1339 C2444.81,1339 2468.51,1340.65 2623.00001,1339 L2623.00001,1.48307e-05 L7.71186001e-06,1.48307e-05 L7.71186001e-06,1340 C98.9040923,1340 145.942773,1340 262.829773,1340 C379.715773,1340 487.179444,1339 605.700444,1339 C733.707444,1339 776.519,1339 961.249,1339 C1145.98,1339 1185.20105,1339 1325.79105,1339 C1466.38105,1339 1559.58,1339 1676.46,1339 C1793.35,1339 1858.68772,1339 1975.57772,1339 C2092.46772,1339 2085.16,1339 2264.98,1339 Z"
                                d="M2264.98,1339 C2444.81,1339 2468.51,1252.54 2623.00001,1250.89 L2623.00001,1.48307e-05 L7.71186e-06,1.48307e-05 L7.71186e-06,1250.79 C98.9041,1250.79 149.582,1287.66 266.469,1287.66 C383.355,1287.66 483.077,1231.46 601.598,1231.46 C729.605,1231.46 776.519,1339 961.249,1339 C1145.98,1339 1179.49,1231.46 1320.08,1231.46 C1460.67,1231.46 1559.58,1339 1676.46,1339 C1793.35,1339 1854.65,1269.62 1971.54,1269.62 C2088.43,1269.62 2085.16,1339 2264.98,1339 Z" 
                                id="wave-path">
                            </path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        
        <div class="menu-button close-icon"></div>
        <div class="nav-content">
            <ul>
                <li><a href="#" class="fishernets menu-item">Müll (Plastik, Fischernetze)</a></li>
                <li><a href="#" class="overfishing menu-item">Überfischung</a></li>
                <li><a href="#" class="sewage menu-item">Abwasser und Überdüngung</a></li>
                <li><a href="#" class="microplastic menu-item">Mikroplastik</a></li>
                <li><a href="#" class="deep-sea-mining menu-item">Bergbau in der Tiefsee</a></li>
                <li><a href="#" class="shipwrecks menu-item">Erdöl (Schiffswracks, Ölplattformen)</a></li>
            </ul>
        </div>
    </nav>

    <%- include ('partials/start-intro') %>
    <%- include ('partials/all-coins-collected') %>

    <script src="/dist/bundle.js"></script>

    <div id="infopages">
        <!-- Content will be rendered on click -->
    </div>

    
</body>
</html>