<script>
  jQuery('.infopage .close-icon').on('click', function() {
    jQuery('.infopage').remove();
  }); 
</script>

<div id="do-something" class="infopage">
    <div class="close-icon"></div>

    <div class="grid-container content top">
      <h2 class="headline">Unternimm etwas!</h2>
      <p>
        Der Schutz unserer Ozeane ist ein wichtiger Bestandteil im Kampf gegen
        die Klimakrise, denn sie halten unsere Erde kühl. Durch den Menschen
        werden die Meere allerdings immer mehr bedroht. Unser Konsumverhalten
        führt z.B. zu Überfischung, Versauerung und Müllstrudel unter der
        Wasseroberfläche. Darunter leiden nicht nur wir Menschen, sondern vor
        allem die Bewohner der Ozeane! Diese Vielfalt ist bedroht und müssen wir
        um jeden Preis schützen!
      </p>
      <p class="text-m bold">
        Hier erfährst du, welche Organisationen du unterstützen kannst, um die
        Meere zu retten!
      </p>
    </div>

    <div class="grid-container content help-elements">
      <div class="help-element">
        <div class="image-link">
          <img src="/assets/unternimm-etwas/wwf-1.png" alt="" />
          <a
            href="https://www.wwf.de/plastikflut/"
            target="_blank"
            class="button"
            ><span class="text">Jetzt Spenden</span></a
          >
        </div>
        <div class="info-text">
          <h3>Unterstütze den WWF im Kampf gegen die Plastik</h3>
          <p>
            Der WWF startet Modellprojekte in den Ländern, in denen die Sammlung
            und Verwertung von Abfällen nicht richtig funktioniert. Mit einer
            Spende setzt sich der Verein ein, um die Plastikflut zu stoppen, der
            Recycling-System zu verbessern und baut Druck auf die Regierung auf.
          </p>
        </div>
      </div>
      <div class="help-element">
        <div class="image-link">
          <img src="/assets/unternimm-etwas/wwf-2.png" alt="" />
          <a
            href="https://www.wwf.de/stop-plastic/#c22226"
            target="_blank"
            class="button"
            ><span class="text">Zur Petition</span></a
          >
        </div>
        <div class="info-text">
          <h3>Jetzt Petition gegen Plastik unterschreiben!</h3>
          <p>
            Mit deiner Unterschrift kannst du den WWF dabei unterstützen, unsere
            Ozeane von Plastik zu befreien. Er fordert Regierungen dazu auf,
            Verantwortung zu übernehmen und sich für eine Konvention gegen
            Plastikmüll im Meer einzusetzen. Dadurch will er erreichen, dass wir
            eine globale, rechtlich bindende UN-Konvention beschließen, mit der
            sich jedes Land zum Schutz der Meere gegen Plastik verpflichtet.
          </p>
        </div>
      </div>
      <div class="help-element">
        <div class="image-link">
          <img src="/assets/unternimm-etwas/greenpeace-1.png" alt="" />
          <a
            href="https://meeresschutz.greenpeace.de/?utm_campaign=oceans&utm_source=offline&utm_medium=print&utm_content=link&utm_term=br1-meeresschutz-2019-08&_ga=2.33197882.540349775.1623830583-476077539.1623231370"
            target="_blank"
            class="button"
            ><span class="text">Hier eintragen</span></a
          >
        </div>
        <div class="info-text">
          <h3>In Bewegung für die Meere</h3>
          <p>
            Lege eine Strecke ohne Motorkraft im oder auf dem Wasser zurück und
            trage sie bei Greenpeace ein. Mit deiner Hilfe will der Verein bis
            zu 50% unserer Meere symbolisch schützen und dadurch den
            verantwortlichen Politiker*innen bei den UN, wie wichtig uns die
            Meere sind.
          </p>
        </div>
      </div>
      <div class="help-element">
        <div class="image-link">
          <img src="/assets/unternimm-etwas/greenpeace-2.png" alt="" />
          <a
            href="#"
            target="_blank"
            class="button"
            ><span class="text">Mitmachen</span></a
          >
        </div>
        <div class="info-text">
          <h3>Dabei sein bei Greenpeace</h3>
          <p>
            Jeder kann etwas tun: Setze dich selbst ein im Kampf für den Schutz
            der Meere und unterstütze Greenpeace aktiv! Egal ob Schüler*innen,
            Student*innen, Berufstätige, oder Personen im Ruhestand. Jeder kann
            sich beteiligen, indem man in Gruppen beitritt oder sich vernetzt
            und sich für den Schutz der Meere stark macht!
          </p>
        </div>
      </div>
    </div>

    <div class="background-elements">
      <div class="background-element heaven"></div>
      <div class="background-element island-left">
        <img src="/assets/unternimm-etwas/island-left.svg" />
      </div>
      <div class="background-element island-right">
        <img src="/assets/unternimm-etwas/island-right.svg" />
      </div>
      <div class="background-element human">
        <img src="/assets/unternimm-etwas/human-with-wateringcan.svg" />
      </div>
      <div class="background-element sand-wave">
        <img src="/assets/unternimm-etwas/sand-wave.svg" />
        <div class="after-element"></div>
      </div>
    </div>
  </div>
