<script src="../js/infopage.js"></script>

<div id="deep-sea-mining" class="infopage">
    <div class="close-icon"></div>

    <div class="grid-container">
        <div class="video-container section active">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
        
        <div class="facts section text-left">
            <div class="text">
                <h1>Bergbau in der Tiefe</h1>
                <p>
                    Für die Herstellung von Batterien oder Computern sind Metalle wie Nickel, Kupfer oder Cobalt sehr wichtig. Die Kosten für die Förderung an Land steigen jedoch kontinuierlich. Deshalb wird die Tiefsee immer interessanter. Dort gibt es Manganknollen, Massivsulfide und cobaltreiche Eisenmangankrusten. 
                </p>
                <p>
                    Doch der Abbau dieser Rohstoffe zerstört ein ganzes Ökosystem in der Tiefsee, dass bisher kaum erforscht ist. Erste Tests haben ergeben, dass die Schäden durch den Bergbau lange sichtbar sind. So fanden Forscher heraus, dass sich das Ökosystem auch nach 26 Jahren nicht vollständig erholt hat. 
                </p>
            </div>
        </div>

        <div class="action section">
            <div class="text">
                <h1 class="headline">Was kann ich unternehmen?</h1>
                <p>
                    Keine Unternehmen unterstützen, die von Tiefseebergbau profitieren, oder selbst betreiben
                </p>
                <p>
                    Unternehmen können ein Formular ausfüllen, welches einen globales Moratorium für den Tiefseebergbau
                </p>
                <p>
                    Weniger konsumieren, nach dem Prinzip: refuse, reduce, reuse, recycle, rot
                </p>
            </div>
        </div>
    </div>

    <div class="background-elements">
        <div class="wave"></div>
        <div class="wave wave-second"></div>
        <div class="background-element top"><img src="/assets/deep-sea-mining/top.png" /></div>
        <div class="background-element middle"><img src="/assets/deep-sea-mining/middle.png" /></div>
        <div class="background-element bottom"><img src="/assets/deep-sea-mining/bottom.png" /></div>
    </div>
</div>