<script src="dist/infopage.js"></script>

<div id="microplastic" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <%- include ('../partials/video-loading-animation') %>
      </div>
      <h1>Mikroplastik</h1>
    </div>

    <div class="facts section text-right">
      <div class="text">
        <p>
          Neben dem für den Mensch sichtbaren Plastik gibt es noch ein weiteres
          Problem: Mikroplastik. Das sind feste, unlösliche, nicht biologisch
          abbaubare Polymere mit einer große von 5 Millimetern bis 1000
          Nanometern. Sie entstehen entweder durch Abrieb von größeren
          Plastikstücken oder gelangen direkt durch z. B.Kosmetikartikel ins
          Abwasser.
        </p>
        <p>
          Die Plastikstücke werden von Tieren wie Fischen, Muscheln und
          Säugetieren über das Wasser und deren Nahrung aufgenommen. Sie können
          beispielsweise Gewebeveränderungen, innere Verletzungen und den Tod
          der Tiere hervorrufen. Ein weiteres Problem ist, dass diese Partikel
          so klein sind, dass sie nicht mehr aus dem Meer gefiltert werden
          können.
        </p>
      </div>
    </div>

    <div class="action section">
      <div class="text">
        <h1 class="headline">Was kann ich unternehmen?</h1>
        <p>
          Keine Unternehmen unterstützen, die von Tiefseebergbau profitieren,
          oder selbst betreiben
        </p>
        <p>
          Unternehmen können ein Formular ausfüllen, welches einen globales
          Moratorium für den Tiefseebergbau
        </p>
        <p>
          Weniger konsumieren, nach dem Prinzip: refuse, reduce, reuse, recycle,
          rot
        </p>
      </div>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first"></div>
    <div class="wave wave-second"></div>
    <div class="background-element top"></div>
    <div class="background-element middle">
      <img src="/assets/infopages/microplastic/middle.png" />
    </div>
    <div class="background-element bottom">
      <img src="/assets/infopages/microplastic/bottom.png" />
    </div>
  </div>
</div>
