<script>
  infopage.init();
</script>

<div id="microplastic" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <h1>Mikroplastik</h1>
      <div class="video" style="background-image: url( 'assets/microplastic.png' );">
        <div class="video_wrapper" >
            <div class="video_trigger" data-source="4m_-qiENRTM">
              <p class="text-center">Mit dem Aufruf des Videos erklärst du dich einverstanden, dass deine Daten an YouTube übermittelt werden und dass du die <a href="/datenschutz/" target="_blank">Datenschutzerklärung</a> gelesen hast.</p>
              <a class="button privacy-okay-btn" href="#"><span class="text">Akzeptieren</span></a>
            </div>
            <div class="video_layer"><iframe src="" border="0"></iframe></div>
        </div>
      </div>
    </div>

    <div class="facts section text-right">
      <div class="text">
        <p>
          Neben dem für den Mensch sichtbaren Plastik gibt es noch ein weiteres
          Problem: Mikroplastik. Das sind feste, unlösliche, nicht biologisch
          abbaubare Polymere mit einer große von 5 Millimetern bis 1000
          Nanometern. Sie entstehen entweder durch Abrieb von größeren
          Plastikstücken oder gelangen direkt durch z. B.Kosmetikartikel ins
          Abwasser.
        </p>
        <p>
          Die Plastikstücke werden von Tieren wie Fischen, Muscheln und
          Säugetieren über das Wasser und deren Nahrung aufgenommen. Sie können
          beispielsweise Gewebeveränderungen, innere Verletzungen und den Tod
          der Tiere hervorrufen. Ein weiteres Problem ist, dass diese Partikel
          so klein sind, dass sie nicht mehr aus dem Meer gefiltert werden
          können.
        </p>
      </div>
    </div>
  </div>

  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <div class="bottom-info-buttons">
        <div class="bottom-info-button first">
          Wasche deine Kleidung immer in einer vollen Waschmaschine. Dadurch kannst du die Anzahl an Mikroplastikpartikeln verringern.
        </div>
        <div class="bottom-info-button second">
          Mach bei <a href="https://www.trashbusters.de/aktionswochen/" target="_blank">Müllsammelaktionen</a> mit. In vielen Orten und Städten gibt es Aufrufe, sich an der Beseitigung von Müll aus der Landschaft zu beteiligen.
        </div>
        <div class="bottom-info-button third">
          Achte darauf, dass du deine Produkte oder Kleidung möglichst lange verwendest, bevor du sie <a href="https://www.resorti.de/blog/altkleiderentsorgung/" target="_blank" >sachgerecht entsorgst</a>.
        </div>
        <div class="bottom-info-button fourth">
          Verzichte auf Kosmetika mit <a href="https://www.umweltbundesamt.de/themen/mikroplastik-in-kosmetika-was-ist-das" target="_blank" >Mikroplastikpartikeln</a> und nutze
          Alternativen wie z.B. <a href="https://www.verbraucherzentrale.de/wissen/umwelt-haushalt/produkte/was-ist-naturkosmetik-26394" target="_blank" >zertifizierte Naturkosmetik.</a>
        </div>
      </div>
      <svg width="1920px" height="1024px" id="bottom-info-line" viewBox="0 0 1920 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="bottom-line">
              <%- include ('../partials/bottom-line-path'); %>
                <g id="Button-first" class="bottom-info-button">
                  <%- include('../partials/bottom-line-button', {cx: 30, cy: 30}); %>
                </g>
                <g id="Button-second" class="bottom-info-button">
                  <%- include('../partials/bottom-line-button', {cx: 338, cy: 30}); %>
                </g>
                <g id="Button-third" class="bottom-info-button">
                  <%- include('../partials/bottom-line-button', {cx:30, cy:106}); %>
                </g>
            </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first">
      <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path fill="currentColor" id="bottom-wave-path" d=""/></svg>
    </div>
    <div class="background-element top"></div>
    <div class="background-element middle">
      <img src="/assets/infopages/microplastic/middle.svg" />
    </div>
    <div class="background-element bottom left">
      <img src="/assets/infopages/microplastic/bottom.svg" />
    </div>
  </div>
</div>
