<script>
  infopage.init();
</script>

<div id="sewage" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <%- include ('../partials/video-loading-animation') %>
      </div>
      <h1>Abwasser, Überdüngung und Radioaktivität</h1>
    </div>

    <div class="facts section text-left">
      <div class="text">
        <p>
          Plastikmüll stellt für viele Meerestiere eine elementare Bedrohung
          dar. Da sich Plastikmüll nur sehr langsam zersetzt, könnte es in 35
          Jahren mehr Plastik als Fische im Meer geben.
        </p>
        <p>
          Ca. 4,8 bis 12,7 Millionen Tonnen an Plastikmüll gelangen pro Jahr ins
          Meer. Dadurch werden schätzungsweise über 800 Tierarten
          beeinträchtigt, also fast die Hälfte der Meeressäuger- und
          Seevogelarten. Zudem zerstört Plastikmüll Korallen, indem z.B.
          schädliche Erreger in das Riff gelangen. Dazu kommt, dass sich jedes
          Jahr zwischen 57.000 und 135.000 Wale, Robben und Seehunde in
          „Fischereimüll“, also verlorenen und weggeworfenen Tauen und Netzen
          verfangen.
        </p>
      </div>
    </div>

    <div class="action section">
      <div class="text">
        <h1 class="headline">Was kann ich unternehmen?</h1>
        <p>
          Keine Unternehmen unterstützen, die von Tiefseebergbau profitieren,
          oder selbst betreiben
        </p>
        <p>
          Unternehmen können ein Formular ausfüllen, welches einen globales
          Moratorium für den Tiefseebergbau
        </p>
        <p>
          Weniger konsumieren, nach dem Prinzip: refuse, reduce, reuse, recycle,
          rot
        </p>
      </div>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first"></div>
    <div class="wave wave-second"></div>
    <div class="background-element top">
      <img src="/assets/infopages/sewage/top.png" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/sewage/middle.png" />
    </div>
    <div class="background-element bottom">
      <img src="/assets/infopages/sewage/bottom.png" />
    </div>
  </div>
</div>
