<script src="dist/infopage.js"></script>

<div id="shipwrecks" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/rA82_3O2lD8?autoplay=0&showinfo=0&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <%- include ('../partials/video-loading-animation') %>
      </div>
      <h1>Schiffwracks</h1>
    </div>

    <div class="facts section text-right">
      <div class="text">
        <p>
          Neben dem Öl, das von Ölplattformen, Schiffen oder durch Flüsse ins
          Meer gelangt, gibt es eine weitere deutlich unterschätzte Quelle:
          Schiffswracks. Viele Schiffswracks z.B. aus dem zweiten Weltkrieg
          liegen auf dem Grund der Meere und rosten vor sich hin.
        </p>
        <p>
          Das Problem dabei ist, dass diese Schiffe alle noch Schweröl in ihren
          Tanks haben. Insgesamt sollen rund 15 Millionen Tonnen Öl in diesen
          Fracks lagern. Es ist jedoch nur eine Frage der Zeit, bis dieses
          unbemerkt aus den verrosteten Schiffen austritt. Da das Schweröl
          schwerer als Wasser ist, kommt es nicht an die Wasseroberfläche,
          sondern verschmutzt still und heimlich die Gründe unserer Weltmeere.
        </p>
      </div>
    </div>

    <div class="action section">
      <div class="text">
        <h1 class="headline">Was kann ich unternehmen?</h1>
        <p>
          Keine Unternehmen unterstützen, die von Tiefseebergbau profitieren,
          oder selbst betreiben
        </p>
        <p>
          Unternehmen können ein Formular ausfüllen, welches einen globales
          Moratorium für den Tiefseebergbau
        </p>
        <p>
          Weniger konsumieren, nach dem Prinzip: refuse, reduce, reuse, recycle,
          rot
        </p>
      </div>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first"></div>
    <div class="wave wave-second"></div>
    <div class="background-element top">
      <img src="/assets/infopages/shipwrecks/top.png" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/shipwrecks/middle.png" />
    </div>
    <div class="background-element bottom">
      <img src="/assets/infopages/shipwrecks/bottom.png" />
    </div>
  </div>
</div>
