<script>
  infopage.init();
</script>

<div id="shipwrecks" class="infopage">
  <div class="close-icon"></div>

  <div class="grid-container">
    <div class="video-container section active">
      <h1>Schiffwracks</h1>
      <div class="video">
        <iframe
          src="https://www.youtube-nocookie.com/embed/ww0HLaO5uyI?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <%- include ('../partials/video-loading-animation') %>
      </div>
    </div>

    <div class="facts section text-right">
      <div class="text">
        <p>
          Neben dem Öl, das von Ölplattformen, Schiffen oder durch Flüsse ins
          Meer gelangt, gibt es eine weitere deutlich unterschätzte Quelle:
          Schiffswracks. Viele Schiffswracks z.B. aus dem zweiten Weltkrieg
          liegen auf dem Grund der Meere und rosten vor sich hin.
        </p>
        <p>
          Das Problem dabei ist, dass diese Schiffe alle noch Schweröl in ihren
          Tanks haben. Insgesamt sollen rund 15 Millionen Tonnen Öl in diesen
          Fracks lagern. Es ist jedoch nur eine Frage der Zeit, bis dieses
          unbemerkt aus den verrosteten Schiffen austritt. Da das Schweröl
          schwerer als Wasser ist, kommt es nicht an die Wasseroberfläche,
          sondern verschmutzt still und heimlich die Gründe unserer Weltmeere.
        </p>
      </div>
    </div>
  </div>
  <div class="action section">
    <div class="text grid-container">
      <h2 class="headline">Was kann ich unternehmen?</h2>
    </div>
    <div class="bottom-info">
      <svg
        width="100%"
        id="bottom-info-line"
        height="769px"
        viewBox="0 0 1442 769"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="bottom-line">
            <%- include ('../partials/bottom-line-path'); %>
            <g id="Button-first" class="bottom-info-button">
              <%- include('../partials/bottom-line-button', {cx: 22, cy: 22.5});
              %>
              <text class="svg-bottom-text" fill="currentColor">
                <tspan x="60" y="16">Starte eine Petition, z.B. für eine</tspan>
                <tspan x="60" y="36">
                  gesetzliche Grundlage eine verpflichtende
                </tspan>
                <tspan x="60" y="56">
                  Bergung von Treibstoffresten festzulegen,
                </tspan>
                <tspan x="60" y="76">
                  um auf die Regierung Druck auszuüben.
                </tspan>
              </text>
            </g>
            <g id="Button-second" class="bottom-info-button">
              <%- include('../partials/bottom-line-button', {cx: 330, cy:
              38.5}); %>
              <text class="svg-bottom-text" fill="currentColor">
                <tspan x="10" y="45">Wähle Parteien, die sich für</tspan>
                <tspan x="10" y="65">den Schutz der Umwelt einsetzen</tspan>
              </text>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="background-elements">
    <div class="wave wave-first">
      <svg
        width="100%"
        height="100%"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs></defs>
        <path fill="currentColor" id="bottom-wave-path" d="" />
      </svg>
    </div>
    <!-- <div class="wave wave-second"></div> -->
    <div class="background-element top">
      <img src="/assets/infopages/shipwrecks/top.png" />
    </div>
    <div class="background-element middle">
      <img src="/assets/infopages/shipwrecks/middle.svg" />
    </div>
    <div class="background-element bottom">
      <img src="/assets/infopages/shipwrecks/bottom.png" />
    </div>
  </div>
</div>
