
  <div id='hero'>
    <div class='layer-bg layer parallax' data-depth='0.10'></div>
    <div class='layer-1 layer parallax' data-depth='0.20'></div>
    <div class='layer-2 layer parallax' data-depth='0.50'></div>
    <div class='layer-3 layer parallax' data-depth='0.80'></div>
    <div class='layer-overlay layer parallax' data-depth='0.85'></div>
    <div class='layer-4 layer parallax' data-depth='1.00'></div>
  </div>