.menu-icon {
  position: fixed;
  right: 29px;
  top: 27px;
  background-image: url(../assets/menu.svg);
  height: 40px;
  width: 50px;
  background-repeat: no-repeat;
  z-index: 99;
}

#nav {
  width: 100%;
  height: 100vh;
  //background-color: $PRIMARY_COLOR;
  z-index: 101;
  position: fixed;
  transform: translate3d(0px, -100vh, 0px);
  // background: linear-gradient(180deg, #86B8E7 0%, #2168B6 100%);

  .background {
    // background-color: $PRIMARY_COLOR;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
      color: $PRIMARY_COLOR;

      #wave-path {
        box-shadow: 0px 4px 100px rgba(39, 24, 42, 0.5);
      }
    }
  }

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    @include grid-container;
    width: calc(100% - 50px);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 40px;
  
      &.hover {
        li a {
          opacity: 0.4;
        }
      }
  
      li {
        @include headline-l;
        
        a {
          text-decoration: none;
          transform: translate3d(0,0,0);
          display: flex;
          //justify-items: stretch;
  
          .char {
            transform: translate3d(0,0,0);
            display: inline-block;
            min-width: 12px;
            text-align: center;
            padding-bottom: 12px;
          }
  
          &.active {
            opacity: 1;
          }
        }
      }
    }

    .shell-content {
      padding-left: 50px;
      max-width: 400px;
      transform: translate(200px);
      opacity: 0;

      .shell-image {
        float: right;
      }

      .shell-text {
        margin-top: -89px;
        float: left;

        p {
          font-weight: bold;
          font-size: 19px;
          width: 70%;
        }
      }

      .button {
        background-color: #2168B6;
        filter: drop-shadow(0px 0px 20px rgba(39, 24, 42, 0.5));
      }
    }
  }

  .footer-links {
    position: absolute;
    bottom: 25px;
    left: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;

    li {
      float: left;

      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 880px) {
  #nav {
    .nav-content {
      ul {
        align-self: flex-start;
        margin-top: 160px;

        li a {
          font-size: 31px;
          line-height: 100%;
        }
      }
      .shell-content {
        align-self: flex-end;
        margin-bottom: 100px;
  
        .shell-image {
          img {
            width: 200px;
          }
        }
  
        .shell-text {
          margin-top: -20px;

          p {
            font-size: 16px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  #nav {
    .nav-content {
      display: block;
      overflow-y: scroll;

      ul {
        margin-top: 160px;
      }

      .shell-content {
        margin-bottom: 100px;
        float: right;
        margin-top: -70px;
  
        .shell-text {

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #nav {
    .nav-content {
      display: block;
      overflow-y: scroll;

      ul {
        padding-left: 0;
      }

      .shell-content {
        margin-top: 0px;
      }
    }
  }
}

@media (max-width: 450px) {
  #nav {
    .nav-content {

      ul {
        margin-top: 140px;

        li a {
          font-size: 25px;
        }
      }

      .shell-content {
        float:left;
        padding-left: 0;
        margin-bottom: 50px;
      }
    }
  }
}